<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <input id="boardDatas" type="hidden" value="{{boardDatas}}">
    
    <div class="wrap">
        <header>
            <div>
                <img id="menu_icon"src="./image/menuIcon.png" alt="카테고리 항목 아이콘">
            </div>
            
            <h1>
               <a href="#">글을 남기자</a>
            </h1>

            <div id="search_bar">
                <input type="text" placeholder="글 검색">
            </div>
        </header>

        <section>
            <article id="content">
                <div id="board_inner">
                    
                </div>

            </article>
        </section>

    </div>

    <script src="./js/index.js"></script>
    <script src="./js/indexEvent.js"></script>
</body>
</html>