.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    width: 100%;
    height: 150px;
    margin: 0px auto;
    max-width: 1144px; 
    border-bottom: 1px solid #B8BDC2;
}

#menu_icon{
    width: 25px;
    height: 25px;
}

#board_inner {
    display: flex;
    justify-content: center;
}
.post_a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-around;
}
.post_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border: 1px solid;
}
