.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    width: 100%;
    height: 150px;
    margin: 0px auto;
    max-width: 1144px; 
    border-bottom: 1px solid #B8BDC2;
}
section {
    margin-top: 50px
}

#menu_icon{
    width: 25px;
    height: 25px;
}

#board_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1144px;
}
.post_item {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 25%;
    height: 200px;
}
.post_a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.post_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid; 
    
    width: 200px;
    height: 150px;
    
}
.post_img img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}